.ethernet-label.border
  = image_tag 'polylan_logo.png'
  .row.text-center
    .col
      .value.h5
        = label['floor']
      .label.border-top
        Floor
    .col
      .value.h5
        = label['block']
      .label.border-top
        Block
    .col
      .value.h5
        = label['seat']
      .label.border-top
        Seat
    .col
      .value.h5
        = label['len']
      .label.border-top
        Length
  .bottom-logo
    = image_tag 'decal.png'