!!! 5
%html
  %head
    %title= yield(:title)
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    :css
      @page {
        size: portrait;
      }
  %body
    - @data.each_slice(16) do |slice|
      .a4-p.ethernet-label-wrapper.page-break
        - slice.each do |label|
          = render partial: 'ethernet_label/label', locals: { label: label }

:javascript
  window.print();
